# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out


# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
terres-de-laya-portal/.angular
terres-de-laya-portal/node_modules
terres-de-laya-portal/src/app/api-client/
terres-de-laya-portal/openapi.yaml
terres-de-laya-portal/openapi.yaml
terres-de-laya-backend/node_modules
terres-de-laya-bot/node_modules
terres-de-laya-bot/invite-bot.json
terres-de-laya-bot/welcome-bot.json
