<div class="home-content">
    <h1>Bienvenue sur Terres de Laya</h1>

    <section class="create-account">
        <h3>
            Terres de Laya est un écoquartier avec des ambitions écologiques fortes aux portes du Bourget du Lac
        </h3>

        <p>
            <b>Habitant ou future habitant ?</b>
            Créez votre compte pour accéder aux différentes applications mises à disposition par Terres de Laya.
        </p>
        <button tuiButton appearance="accent" routerLink="/signup">
            Créer un compte
        </button>
    </section>
    <section>
        <h3>
            Sélectionnez une application mise à disposition par Terres de Laya
        </h3>

        <div class="application-container">
            <a href="https://chat.terresdelaya.fr" class="app-card">
                <div class="card-content">
                    <div class="image-container" style="background-color: #0dbd8b;">
                        <img src="/logo-mark-primary.svg" alt="The Open Shelf">
                    </div>
                    <div class="card-details">
                        <h2>Element</h2>
                        <p>Outil de communication entre habitants</p>
                    </div>
                </div>
            </a>
        </div>
    </section>

    <section>
        <h3>
            Comment se connecter à notre service de messagerie sur votre téléphone ?
        </h3>
        <p>
            Pour commencer, vous aurez besoin de l'application Element, qui fonctionne un peu comme WhatsApp. Voici comment procéder :
        </p>
        <ol>
            <li>
                Téléchargez l'application Element sur votre téléphone ou ordinateur. Vous pouvez la trouver sur le 
                <a href="https://play.google.com/store/apps/details?id=im.vector.app" target="_blank">Google Play Store</a> ou l'
                <a href="https://apps.apple.com/app/element/id1083446067" target="_blank">App Store</a>.
                <div class="store-buttons">
                    <button class="store-button" onclick="window.open('https://play.google.com/store/apps/details?id=im.vector.app', '_blank')">
                        <img src="/playstore.png" alt="Google Play Store" class="store-logo">
                    </button>
                    <button class="store-button" onclick="window.open('https://apps.apple.com/app/element/id1083446067', '_blank')">
                        <img src="/appstore.png" alt="App Store" class="store-logo">
                    </button>
                </div>
            </li>
            <li>Une fois l'application installée, ouvrez-la.</li>
            <li>Lorsque vous êtes invité à entrer une URL de serveur, saisissez : <b>chat.terresdelaya.fr</b>. C'est notre serveur dédié, un peu comme un numéro de téléphone pour notre communauté.</li>
            <li>Suivez les instructions à l'écran pour vous connecter ou créer un nouveau compte si vous n'en avez pas encore.</li>
        </ol>
        <p>
            Si vous avez besoin d'aide, n'hésitez pas à nous contacter !
        </p>
    </section>
    <section>
        <h3>
            Une selection de tutoriels pour vous aider à mieux comprendre les outils numériques de Terres de Laya
        </h3>

        <div class="tutorial-container">
            @for (item of items.slice(currentPage * itemsPerPage, (currentPage + 1) * itemsPerPage); track item) {
                <div class="item">
                    <h2 class="title">{{ item.title }}</h2>
                    <iframe width="420" height="315" [src]="transform(item.videoUrl)" frameborder="0" allowfullscreen></iframe>
                </div>
            }
        </div>

        <tui-pagination
            [index]="currentPage"
            [length]="items.length / itemsPerPage | ceil"
            (indexChange)="onPageChange($event)"
        />
    </section>
</div>