<div class="home-content">
    <h1>Bienvenue sur Terres de Laya</h1>
    <h3>
        Sélectionnez une application mise à disposition par Terres de Laya
    </h3>

    <div class="application-container">
        <a
            href="https://chat.terresdelaya.fr"
            class="app-card"
        >
            <div class="card-content">
                <div
                    class="image-container"
                    style="background-color: #0dbd8b;"
                >
                    <img
                        src="/logo-mark-primary.svg"
                        alt="The Open Shelf"
                    >
                </div>
                <div class="card-details">
                    <h2>Element</h2>
                    <p>Outil de communication entre habitants</p>
                </div>
            </div>
        </a>

        <a
            href="https://theopenshelf.terresdelaya.fr"
            class="app-card"
        >
            <div class="card-content">
                <div
                    class="image-container"
                    style="background-color: #283242;"
                >
                    <img
                        src="/the-open-shelf.png"
                        alt="The Open Shelf"
                    >
                </div>
                <div class="card-details">
                    <h2>The Open Shelf</h2>
                    <p>Bibliothèque d'objects partagés</p>
                </div>
            </div>
        </a>
    </div>
</div>
