<div class="home-content">
    <h1>Bienvenue sur Terres de Laya</h1>

    <section class="create-account">
        <h3>
            Terres de Laya est un écoquartier avec des ambitions écologiques fortes aux portes du Bourget du Lac
        </h3>

        <p>
            <b>Habitant ou future habitant ?</b>
            Créez votre compte pour accéder aux différentes applications mises à disposition par Terres de Laya.
        </p>
        <button tuiButton appearance="accent" routerLink="/signup">
            Créer un compte
        </button>
    </section>
    <section>
        <h3>
            Sélectionnez une application mise à disposition par Terres de Laya
        </h3>

        <div class="application-container">
            <a href="https://chat.terresdelaya.fr" class="app-card">
                <div class="card-content">
                    <div class="image-container" style="background-color: #0dbd8b;">
                        <img src="/logo-mark-primary.svg" alt="The Open Shelf">
                    </div>
                    <div class="card-details">
                        <h2>Element</h2>
                        <p>Outil de communication entre habitants</p>
                    </div>
                </div>
            </a>

            <a href="https://theopenshelf.terresdelaya.fr" class="app-card">
                <div class="card-content">
                    <div class="image-container" style="background-color: #283242;">
                        <img src="/the-open-shelf.png" alt="The Open Shelf">
                    </div>
                    <div class="card-details">
                        <h2>The Open Shelf</h2>
                        <p>Bibliothèque d'objects partagés</p>
                    </div>
                </div>
            </a>
        </div>
    </section>
    <section>
        <h3>
            Une selection de tutoriels pour vous aider à mieux comprendre les outils numériques de Terres de Laya
        </h3>

        <div class="tutorial-container">
            @for (item of items.slice(currentPage * itemsPerPage, (currentPage + 1) * itemsPerPage); track item) {
                <div class="item">
                    <h2 class="title">{{ item.title }}</h2>
                    <video width="320" height="240" controls>
                        <source src="{{ item.videoUrl }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            }
        </div>

        <tui-pagination
            [index]="currentPage"
            [length]="items.length / itemsPerPage | ceil"
            (indexChange)="onPageChange($event)"
        />
    </section>