h1 {
    margin: 30px 0;
}

h3 {
    color: var(--tos-text-secondary);
}

.application-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; // Adjust the gap between cards as needed
}


.create-account {
    border: 0px solid rgb(226, 232, 240);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1) !important;
    width: 100%;
    padding: 20px;
    border-radius: 16px;
    color: var(--tos-text-primary);
    text-decoration: none;
    display: flex;
    flex-direction: column; // Change to column for vertical layout
    justify-content: space-between;
    background-color: var(--tos-background-base);
    margin-bottom: 50px;

    h3 {
        margin: 0;
        margin-bottom: 20px;
    }
}

.app-card {
    color: var(--tos-text-primary);
    text-decoration: none;
    display: flex;
    flex-direction: column; // Change to column for vertical layout
    justify-content: space-between;
    background-color: var(--tos-background-base);
    border-radius: 16px;
    overflow: hidden;
    text-align: left;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: 0px solid rgb(226, 232, 240);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1) !important;
    width: 100%;
    height: 0; // Set height to 0
    padding-bottom: 100%; // Use padding to maintain square aspect ratio

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

    .image-container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 30%; // Adjust height as needed
        overflow: hidden;

        img {
            width: 50px;
            height: 50px;
            object-fit: cover; // Ensure the image covers the container
        }
    }

    .card-details {
        padding: 16px; // Add padding for text
    }

    h2 {
        font-size: 1.25rem; // Adjust font size
        font-weight: 700; // Adjust font weight
        margin: 0; // Add margin for spacing
    }

    p {
        font-size: 1rem; // Adjust font size
        color: #4a4a4a; // Adjust text color
    }
}