<header>
    <img
        id="leafs-primary-left"
        alt="leafs-primary-left"
        src="/leafs-primary-left.png"
    >
    <a
        id="logo"
        href="/"
    >
        <img
            alt="Terres de Laya"
            src="/terres-de-laya-header.png"
        >
    </a>
    <img
        id="leafs-primary-right"
        alt="leafs-primary-right"
        src="/leafs-primary-right.png"
    >
</header>

<main tuiNavigationMain>
    <router-outlet></router-outlet>
</main>

<footer tuiNavigationFooter>

    <div class="footer-default__head"></div>

    <div class="footer-content">
        <div class="footer-address">
            <h2>Adresse</h2>
            <p>Terres de Laya</p>
            <p>
                Eco hameau des Granges, 73290 La Motte-Servolex
            </p>

            <div class="footer-copyright">
                <p>© 2025 Terres de Laya</p>
            </div>
        </div>
        <div class="footer-links">
            <h2>Aide</h2>
            <a href="/faq">FAQ</a>
        </div>
    </div>

</footer>
