<button
class="back-to-home"
appearance="outline"
tuiButton
size="s"
type="button"
[routerLink]="['/']"
>
<tui-icon
icon="undo-2"
[style.color]="'var(--tui-background-accent-1)'"
/>
    Retour vers la page d'accueil
</button>


<div class="container-faq">
    <tui-accordion>
        <tui-accordion-item>
            Comment créer un compte ?
            <ng-template tuiAccordionItemContent>
                Vous pouvez créer un compte en cliquant sur le bouton "Créer un compte" sur la page d'accueil.
                <p>
                    Si vous rencontrez des difficultés pour créer un compte, veuillez contacter notre support à l'adresse suivante : 
                        <a href="mailto:support&#64;terresdelaya.fr">support&#64;terresdelaya.fr</a>.
                </p>
            </ng-template>
        </tui-accordion-item>
        <tui-accordion-item>
            Qu'est-ce que Element ?
            <ng-template tuiAccordionItemContent>
                <div>
                    <p>
                        Element est une application de communication basée sur le protocole Matrix.
                    </p>

                    <p>
                        Elle permet de discuter, partager des fichiers et collaborer avec d'autres habitants du quartier.
                    </p>
                    <h4>Comment Element se compare à WhatsApp ?</h4>
                    <ul>
                        <li>
                            <strong>Ouverture et Interopérabilité :</strong>
                            Contrairement à WhatsApp, qui est une plateforme fermée, Element repose sur le protocole Matrix, permettant de communiquer avec d'autres outils compatibles.
                        </li>
                        <li>
                            <strong>Confidentialité et Contrôle :</strong>
                            Avec Element, vos données peuvent être hébergées sur des serveurs que vous contrôlez (comme
                            <em>chat.theopenshelf.dev</em>
                            ), contrairement à WhatsApp, où elles sont centralisées chez Meta.
                        </li>
                        <li>
                            <strong>Usage communautaire :</strong>
                            WhatsApp est généraliste, tandis qu'Element est adapté aux communautés locales comme les éco-quartiers, offrant un cadre pour des projets collaboratifs.
                        </li>
                    </ul>
                    En résumé, Element se distingue par sa flexibilité, son respect de la vie privée et son orientation vers les communautés.
                </div>
            </ng-template>
        </tui-accordion-item>
        <tui-accordion-item>
            Est-ce que Element a une application mobile ?
            <ng-template tuiAccordionItemContent>
                <div #content>
                    Oui, Element a une application mobile disponible sur les plateformes Android et iOS.
                    <p>
                        Téléchargez l'application ici :
                        <a href="https://play.google.com/store/apps/details?id=im.vector.app" target="_blank">Google Play Store</a> |
                        <a href="https://apps.apple.com/app/element/id1083446067" target="_blank">App Store</a>
                    </p>
                </div>
            </ng-template>
        </tui-accordion-item>
    </tui-accordion>
</div>
