@use 'theme' as *;


.back-to-home {

    margin-bottom: 15px;
}

#signup-form-section {
    color: var(--tos-text-primary);
    text-decoration: none;
    display: flex;
    flex-direction: column; // Change to column for vertical layout
    justify-content: space-between;
    background-color: var(--tos-background-base);
    border-radius: 16px;
    text-align: left;
    border: 0px solid rgb(226, 232, 240);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.037), 0 1px 2px -1px rgba(0, 0, 0, 0.037) !important;
    width: 100%;

    display: flex;
    justify-content: space-between;
    padding: 20px;

    tui-textfield {
        margin-bottom: 15px;
    }

    button {
        margin-top: 15px;
        width: 100%;
    }

    a {
        color: var(--tos-text-action);
        font-weight: 600;
        transition: color 0.3s;

        &:hover {
            color: var(--tos-text-action-hover);
        }
    }

    .password-rules,
    .username-rules {
        color: var(--tos-text-negative); // Red color for error messages
        font-size: 0.875rem; // Smaller font size
        margin-top: 10px;
        margin-bottom: 20px;

        span {
            display: block;
            margin-bottom: 5px;
            padding-left: 20px;
            position: relative;

            &::before {
                content: '•'; // Bullet point
                position: absolute;
                left: 0;
                color: #e53e3e;
            }
        }
    }

    .help-text {
        color: var(--tos-text-secondary); // Use a secondary text color
        font-size: 0.875rem; // Smaller font size for help text
        margin-top: 5px; // Space above the help text
        margin-bottom: 15px; // Space below the help text
        padding-left: 20px; // Align with input fields
    }
}

.status-radio {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    div {
        display: flex; // Align radio buttons side by side
    }

    label {
        margin-right: 10px; // Add some space between the radio buttons
    }
}